body{
    font-family: "PT Sans", sans-serif;
   background-color: #F7ECDE;
    margin-top: 4%;
}
h1,h2.h3{
    font-family: "Pacifico", cursive;
}
h1{
    font-size: 50px;
    font-weight: 500;
   position: relative;
   z-index: 2;
  
}
h1::before {
    content: "";
    position: absolute;
    width: 24%;
    height: 25%;
    left: 38%;
    bottom: 0%;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}


h1:hover::before{
    height: 60%;

}
.bookmark-body {
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}

h2{
    color: #41A65C;
}
h2 span{
    color: #B0AB49;
}

  button {
   
  }

.btn-submit {
    --bs-btn-color: #fff;
    --bs-btn-bg: #d1512d;
    --bs-btn-border-color: #d1512d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb4120;
    --bs-btn-hover-border-color: #a03315;
    
    display: flex;
    justify-content: center;
   
}
.visit{
    background-color: #8A9E23;
    border-radius: 5px;
    color: white;
    width: 45%;
    border: none;
    height: 35px;
}
.visit:hover{
    background-color: #606e19;

}
.delete{
    background-color: #EB1D36;
    color: white;
    border-radius: 5px;
    width: 45%;
    border: none;
    height: 35px;

}
.delete:hover{
    background-color: #b40a1e;
}